@using PresentationLayer.VMs
@model IEnumerable<ProductVM>

<h2>Products</h2>

<a href="Product/Create" class="btn btn-dark">Create Product</a>
<form method="post" action="/Product/" class="mb-3">
    <div class="row">
        <div class="col-md-4">
            <input type="text" name="searchTerm" class="form-control" placeholder="Search..."
                   value="@(ViewData["SearchTerm"] ?? "")">
        </div>

        <div class="col-md-4">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="searchBy" value="name" id="searchByName"
                @(ViewData["SearchBy"]?.ToString() == "name" ? "checked" : "")>
                <label class="form-check-label" for="searchByName">Name</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="searchBy" value="description" id="searchByDescription"
                @(ViewData["SearchBy"]?.ToString() == "description" ? "checked" : "")>
                <label class="form-check-label" for="searchByDescription">Description</label>
            </div>
        </div>

        <div class="col-md-2">
            <input type="number" name="minPrice" class="form-control" placeholder="Min Price"
                   value="@(ViewData["MinPrice"] ?? "")">
        </div>
        <div class="col-md-2">
            <input type="number" name="maxPrice" class="form-control" placeholder="Max Price"
                   value="@(ViewData["MaxPrice"] ?? "")">
        </div>

        <div class="col-md-12 mt-2">
            <button type="submit" class="btn btn-dark">Search</button>
        </div>
    </div>
</form>

<table class="table table-striped">
    @foreach(var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.Description</td>
            <td><img src="/Images/@product.Image" style="width:80px;"></img></td>
        </tr>
    }
</table>